
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans&display=swap');

body{
    margin: 0;
}

h3{
    font-weight: 300px;
    letter-spacing: 2px;
    font-size: 28px;
    margin-top: 50px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}


.header{
    /*position: relative;*/
    text-align: center;
    background-color: #ffffff;
    color: #fff ;
}

.inner-header{
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 400px;
}

.Logo img {
  height: 200px; /* Ajuste o tamanho conforme necessário */
  width: 255px; /* Mantém a proporção original da logo */
  margin-top: 50px;
}

.Cano img {
  height: 500px; 
  width: auto;
  margin-top: 40px;
  z-index: 1;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves{
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    z-index: 2;
    
}

.content{
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #3563CE;
    padding: 10px ; 
}

/* Animação*/

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  
    .content {
      height: 30vh;
    }
  
    h1 {
      font-size: 34px;
    }
  }


  .Texto-1{
    justify-content: center;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #3563CE;
    margin-top: -130px;
    margin-bottom: 50px;
  }

  
.item {
  display: flex;
  flex-direction: column;
  align-items: center
}

.icone {
  width: 100px;
  height: 100px;
  border: 2px solid #4169e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-mapa  img{
  width: 50px;
  height: 50px;
}

.icone-sobre img{
  width: 20px;
  height: 50px;
}

.item p {
  font-size: 20px;
  color: #134aff;
  margin-top: 10px;
}

.linha {
  width: 2px;
  height: 50px;
  background: #4169e1;
  position: relative;
  margin-top: -10px;
}



.texto-2{
  justify-content: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}


.text-2 {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: white;
  margin-bottom: 5%;
  margin-top: 5%;
}

.container2{
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.title2 {
  font-size: 4rem;
  color: #20418D; 
  margin-bottom: 1rem;
}

.description2 {
  font-size: 1.3rem;
  color: #1d4ed8;
  line-height: 1.5;
}

.Texto-1, .Logo, .Cano{
  visibility: hidden;
}

p{
  font-family: "Poppins", serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: white; 
}

.linha1{
  width: 1000px;
  height: 5px;
  background-color: #134aff;
  border-radius: 10px;
  width: 200px; margin: 0 auto;
  margin-top: -10px;
}